h1 {
  font-size: 36px;
  color: #ffffff;
  margin-bottom: 10px;
  /* Add your custom styles here */
  text-transform: uppercase; /* Example: Convert text to uppercase */
  font-weight: bold; /* Example: Apply bold font weight */
}
.container {
  max-width: 1100px; /* Set maximum width for content */
  margin: 0 auto; /* Center the container */
  padding: 20px; /* Add some padding */
}

header {
  display: flex; /* Use flexbox layout */
  justify-content: space-between; /* Evenly distribute items */
  align-items: center; /* Center items vertically */
  background-color: transparent; /* Transparent background */
  color: #ffffff; /* White text color */
}

.top-nav {
  display: flex; /* Use flexbox layout */
}

.top-nav-btn {
  color: inherit; /* Inherit text color from parent */
  text-decoration: none; /* Remove default underline */
  margin: 0 15px; /* Add margin between buttons */
}

.top-nav-btn:hover {
  text-decoration: underline;
  transform: scale(1.1); 
  transition: transform 0.3s;
}



.logo {
  max-width: 13rem;
  margin-right: 20px;
}

body {
  font-family: 'Quicksand', sans-serif; /* Apply the rounded font globally */
  margin: 0;
  padding: 0;
  background-color: #040a3b;
  opacity: 1;
  background-image: radial-gradient(
      #ac5c00 1.4000000000000001px,
      transparent 1.4000000000000001px
    ),
    radial-gradient(#ac5c00 1.4000000000000001px, #040a3b 1.4000000000000001px);
  background-size: 56px 56px;
  background-position: 0 0, 28px 28px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ec7602;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
  transition: background-color 0.3s; 
  
}

.btn:hover {
  background-color: #ac5c00;
  transform: scale(1.1); 
  transition: transform 0.3s; 
}


.login-buttons {
  display: flex;
  justify-content: flex-start; /* Horizontally center the buttons */
  padding-left: 90px;
  align-items: center; /* Vertically center the buttons */
  height: 80vh; /* Make the container full height of the viewport */
  width: 100%; /* Adjust the width as needed */
}

.login-buttons a {
  margin-right: 4rem; /* Adjust the spacing between the buttons */
}



.right-image {
  margin-bottom: 05rem;
  padding-left: 10rem;
  width: 32rem; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
}
.right-image1 {
  margin-bottom: 05rem;
  padding-left: 10rem;
  width: 32rem; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  align-self: flex-end; /* Align the image to the end of the flex container */
}

.middle {
  display: flex;
  flex-direction: column; /* Stack elements vertically */
  justify-content: flex-start; /* Horizontally center the buttons */
  padding-left: 90px;
  align-items: flex-start; /* Vertically align elements to the start */
  height: 80vh; /* Make the container full height of the viewport */
  width: 100%; /* Adjust the width as needed */
}

/* SIGNUP.HTML */

.input-container {
  margin-top: 10px; /* Add some space between paragraph and input */
}
.middle p {
  color: white;
}

.insert_message {
  color: white;
}

/* POST_SIGNUP.HTML */

.insert_user_info {
  text-align: center;
  display: flex;
  align-items: center;
}
.insert_user_info p {
  color: #fff;
}

.btn button[type="submit"] {
  background-color: transparent;
  border: none; 
  color: #fff;
} 

.left-div,
.right-div {
  flex: 1;
  display: inline-block;
  width: 45%; /* Adjust the width as needed */
  vertical-align: top; /* Aligns content at the top */
  margin: 10px; /* Adjust the margin as needed */
}

.post_signup_image {
  width: 32rem; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  align-self: flex-end; /* Align the image to the end of the flex container */
}
.right-div img {
  max-width: 100%; /* Ensure image doesn't exceed container width */
  height: auto;
}
.left-div {
  margin-right: 9px; /* Adjust the margin as needed */
}
.right-div {
  margin-left: 9px; /* Adjust the margin as needed */
}
.left-div a {
  margin-right: 12px; /* Adjust the margin as needed */
}
.left-div input[type="text"],
.right-div input[type="text"],
.left-div input[type="password"] {
  width: 50%; /* Adjust the width as needed */
  padding: 10px; /* Adjust padding as needed */
  margin-bottom: 10px; /* Add margin between input elements */
  border: 1px solid #ccc; /* Add border */
  border-radius: 5px; /* Add border radius */
  box-sizing: border-box; /* Ensure padding and border are included in width */
}
/* Additional CSS to change font */
.left-div p {
  font-family: 'Quicksand', sans-serif; /* Set the font family */}

/* USER_KEY.HTML */
.checklist-container {
  display: flex;
  justify-content: flex-start; /* Start with flex-start, allowing manual adjustment */
  align-items: flex-start;
  padding: 20px;
  margin-left: 200px; /* Add a left margin to push the container to the right */
  margin-top: 50px; 
}

.checklist {
  flex: 1;
  padding: 20px;
  color: white;
  font-size: 20px; /* Larger font size for visibility */
  border-radius: 10px;
  margin-right: 20px;
}

.checklist h2 {
  text-align: center;
  margin-bottom: 20px;
}

.checklist div {
  margin-bottom: 30px; /* Increase the space between each checklist item */
}

input[type="checkbox"] {
  width: 40px;  /* Custom width */
  height: 40px; /* Custom height */
  background-color: white;
  border: 2px solid #000; /* Border for visibility */
  appearance: none; /* Removes default checkbox appearance */
  cursor: pointer;
  vertical-align: middle; /* Align checkbox with text */
}

input[type="checkbox"]:checked {
  background-color: #e76e28; /* Color when checked */
}

.checklist label {
  padding-left: 100px; /* Space between checkbox and text */
  vertical-align: middle; /* Ensure text aligns with checkbox */
}
.right-div_text {
  flex: 1;
  display: flex;
  flex-direction: column; /* Align items in a column */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  min-height: 250px; /* Minimum height to ensure content can be centered */
}

/* Hide the default checkbox */
input[type="checkbox"] {
  display: none; /* Hide the checkbox */
}

/* Custom style for the checkbox's label */
label {
  display: inline-block;
  position: relative; /* Allows use of pseudo-elements */
  padding-left: 30px; /* Space for the custom checkbox */
  cursor: pointer;
}

/* Create a custom checkbox with a pseudo-element */
label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid #e76e28; /* Orange border for unchecked state */
  position: absolute;
  left: 0; /* Position it before the label text */
  top: 50%; /* Center it vertically */
  transform: translateY(-50%); /* Adjust vertical alignment */
  border-radius: 6px; /* Optional, for slightly rounded corners */
}

/* Add an orange check mark when the checkbox is checked */
input[type="checkbox"]:checked + label::before {
  content: 'âœ”'; /* Check mark symbol */
  color: #e76e28; /* Orange color for the check mark */
  text-align: center; /* Center the check mark */
  font-size: 16px; /* Adjust check mark size */
}
.request-text {
  color: white;
  font-size: 22px;
  margin-bottom: 50px; /* Space between text and button */
}

.big-orange-button {
  padding: 15px 30px; /* Larger padding for a bigger button */
  background-color: #ec7602; /* Bright orange color */
  color: white;
  font-family: 'Quicksand', sans-serif; /* Set the font family */
  font-size: 20px; /* Larger font size for visibility */
  border: none;
  border-radius: 10px;
  cursor: pointer; /* Indicate it's clickable */
  transition: background-color 0.3s;
}

.big-orange-button:hover {
  background-color: #ac5c00; /* Darker orange on hover */
}

/* ADMIN_GIVE_ACCESS.HTML */
.top-left-text {
  font-weight: bold; /* Make the text bold */
  font-size: 28px; /* Set a reasonable font size */
  color: #ffffff; /* Ensure the text is white */
  text-align: left; /* Align the text to the left */
  margin-left: 80px; /* Add some space on the left side */
  margin-top: 60px; /* Add some space on the left side */
  letter-spacing: 10px; /* Add space between letters */
}
.vertical-section {
  display: flex; /* Use Flexbox to stack boxes vertically */
  flex-direction: column; /* Stack items vertically */
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center items horizontally */
  height: 60vh; /* Occupy most of the viewport's height */
}

.white-box {
  background-color: white; /* White background for the box */
  border-radius: 10px; /* Rounded corners */
  padding: 20px; /* Add internal padding */
  text-align: center; /* Center the content within the box */
  width: 80%; /* Define the width of the box */
  margin-bottom: 30px; /* Space between the boxes */
}

.box-content {
  display: flex; /* Flexbox for even spacing */
  justify-content: space-between; /* Space between sections */
  align-items: center; /* Align items vertically */
}

.buttons {
  display: flex; /* Flexbox to align buttons */
  justify-content: space-between; /* Even space between buttons */
}

.buttons button {
  padding: 10px; /* Add padding to the buttons */
  background-color: #ec7602; /* Orange background */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  color: white; /* White text */
  font-family: 'Quicksand', sans-serif; /* Set the font family */
  font-size: 11px; /* Larger font size for visibility */
  cursor: pointer; /* Indicate it's clickable */
}

.buttons button:hover {
  background-color: #ac5c00; /* Darker orange on hover */
}
/* About Us Section */
.container-about-contact {
  display: flex;
  justify-content: space-between; /* Distribui os elementos igualmente na linha */
  align-items: flex-start; /* Alinha os elementos ao topo */
  padding: 20px;
  flex: 1;
}

.about-us-container {
  display: flex;
  flex-direction: column;
  background-color: #172060;
  color: #fff;
  text-align: justify; /* Alinhar o texto Ã  esquerda */
  border-radius: 24px;
  margin-top: 1%;
  margin-bottom: 5%;
  margin-left:5%;
  margin-right:5%;
  width: 50%;
}

.title {
  text-align: center;
  margin-bottom: 10px;
  color: #fff;
}

.contact-container {
  width: 50%; /* Definir a largura da caixa */
  margin-top: 1%;
  margin-left:5%;
  margin-right:5%;
  display: flex;
  flex-direction: column;
}

.btn-send-mail {
  text-align: center;
  border-radius: 24px;
  border-color: #172060;

}

input[type="text"], input[type = "email"] {
  background-color: white;
  color : black;
  width: 100%;
  margin: 1%;
  border-radius: 5px;
}

textarea {
  background-color: white;
  color : black;
  width: 100%;
  margin: 1%;
  border-radius: 5px;
  resize: vertical;
}

/* Estilo para a textarea quando estÃ¡ focada */
textarea:focus,input[type="text"]:focus, input[type = "email"]:focus{
  border-color: #ff9900; /* Cor da borda alterada */
}

.team-photos {
  display: flex;
}
.team-photos img {
  width: 100%;
  height: auto;
  border-radius: 24px;
}

.team_photo { 
  flex: 1;
  margin: 0; /* Reset any default margin */
  padding: 0; /* Reset any default padding */
}

.caption {
  font-size: 14px;
  color: white;
  text-align: center;
}
